.login-container {
  background: white;
  width: 400px;
  padding: 30px 15px 30px 15px;
}

.close-icon {
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #000206;
  text-align: center;
}

.form-container {
  border: none;
}

form {
  padding: 20px;
}

.label {
  font-size: 16px;
}

input {
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.391);
  font-size: 19px;
  padding: 6px;
}

#username {
  margin-bottom: 10px;
}

button {
  width: 100%;
}

#forgot-pwd-btn {
  border: none;
  background-color: white;
  color: #62b4e5;
  text-align: left;
  font-size: 14px;
}

#login-btn {
  text-transform: uppercase;
  margin: 20px 0 20px 0;
  font-size: 15px;
  border: none;
  border-radius: 0px;
  padding: 12px 8px 12px 8px;
  background-image: linear-gradient(90deg, #60B8E4, #8F30E8);
  color: white;
  font-size: 18px;
}

.non-users-cta {
  text-align: center;
  font-size: 14px;
  text-decoration: none;
}

.cta-link {
  color: #62b4e5;
  text-decoration: none;
}
